{% extends "base.html" %}
{% block content %}

        <div class="info" >
            
            <ul class="s_info" > <li class="ss_info" >姓名：</li> <li class="ss_info" > {{content.姓名}}</li>  <li class="ss_info" >学号：</li> <li class="ss_info" > {{content.学号}}</li> <li class="ss_info" >性别：</li> <li class="ss_info" > {{content.性别}}</li> <li class="ss_info" >学制：</li> <li class="ss_info last" > {{content.学制}}</li> </ul>
            <ul class="s_info" > <li class="ss_info" >院系：</li> <li class="ss_info faculty" > {{content.院系}}</li> <li class="ss_info" >专业：</li> <li class="ss_info faculty" > {{content.专业}}</li> <li class="ss_info" >年级：</li> <li class="ss_info last" > {{content.年级}}</li> </ul>
            <ul class="s_info" > <li class="ss_info classroom" >所属班级：</li> <li class="ss_info" > {{content.所属班级}}</li> <li class="ss_info classroom">所属校区：</li> <li class="ss_info">{{content.所属校区}}</li> <li class="ss_info classroom">是否有学籍：</li> <li class="ss_info last ">{{content.是否有学籍}}</li> </ul>
            <ul class="s_info" > <li class="ss_info classroom " >学籍状态：</li> <li class="ss_info" > {{content.学籍状态}}</li> <li class="ss_info">学历层次:</li> <li class=" ss_info">{{content.学历层次}}</li> <li class="ss_info classroom">学生类别：</li>  <li class="ss_info classroom last">{{content.学生类别}}</li> </ul>
        </div>
        <div class="grades" >
        <ul class="grade"><li class="gg_info" >课程名称</li> <li class="ggs_info" >课程时间</li> <li class="g_info" >课程类别</li> <li class="g_info" >学分</li> <li class="g_info" >成绩</li> <li class="g_info last" >绩点</li> </ul>
        
    </div>
    {% for grade in content.成绩 %}

    <ul class="grade"><li class="gg_info" >{{grade.课程名称}}</li>  <li class="ggs_info" >{{grade.学年学期}}</li> <li class="g_info" >{{grade.课程类别}}</li> <li class="g_info" >{{grade.学分}}</li> <li class="g_info" >{{grade.最终}}</li> <li class="g_info last" >{{grade.绩点}}</li></ul>
    {% endfor %}

{% endblock %}